#-------------------------------------------------------------------------------
*
#-------------------------------------------------------------------------------
# Git

!.gitattributes
!.gitconfig
!.gitignore
#-------------------------------------------------------------------------------
# General Stuff

!.config/
!.local/
!.local/share/
#-------------------------------------------------------------------------------
# X11 and Window Managers (XMonad and Awesome)

!.imwheelrc
!.xinitrc
!.Xmodmap

!.xmonad/
!.xmonad/xmonad.hs
!.xmonad/build

!.config/awesome/
!.config/awesome/rc.lua
#-------------------------------------------------------------------------------
# Terminal Emulators

!.bash_profile
!.bashrc

!.local/
!.local/share/
!.local/share/konsole/
!.local/share/konsole/*.colorscheme
!.local/share/konsole/philippe.profile

!.config/kitty/
!.config/kitty/kitty.conf
#-------------------------------------------------------------------------------
# Apps

!.cvimrc

!.config/qutebrowser/
!.config/qutebrowser/config.py
!.config/qutebrowser/autoconfig.yml
!.config/qutebrowser/quickmarks
!.config/qutebrowser/my_theme.css
!.config/qutebrowser/bookmarks/
!.config/qutebrowser/bookmarks/urls
!.local/share/qutebrowser/
!.local/share/qutebrowser/sessions/
!.local/share/qutebrowser/sessions/*.yml
.local/share/qutebrowser/sessions/_autosave.yml

!.config/Ferdi/
!.config/Ferdi/config/
!.config/Ferdi/config/settings.json

!.config/ranger/
!.config/ranger/rc.conf

!.config/zathura/
!.config/zathura/zathurarc

!.config/tremc/
!.config/tremc/settings.cfg

!.config/mutt/
!.config/mutt/muttrc
!.config/mutt/signature

!.config/Sabaki/
!.config/Sabaki/themes/
!.config/Sabaki/themes/*
#-------------------------------------------------------------------------------
# Security

!.ssh/
!.ssh/config
#-------------------------------------------------------------------------------
# Notes and My Helper Docs

!README.md
!.notes/
!.notes/*
#-------------------------------------------------------------------------------
# Automation Scripts

!.scripts/
!.scripts/*
.scripts/db/
.scripts/bin/
.scripts/*.db
#-------------------------------------------------------------------------------
# Code

!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/coc-settings.json

!.config/coc/
!.config/coc/ultisnips/
!.config/coc/ultisnips/*

!.emacs

!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
#-------------------------------------------------------------------------------
# Haskell

!.stack/
!.stack/config.yaml

!.ghc/
!.ghc/ghci.conf
#-------------------------------------------------------------------------------
