#-------------------------------------------------------------------------------
*
#-------------------------------------------------------------------------------
!.gitconfig
!.gitignore
!.bashrc
!.config/
#-------------------------------------------------------------------------------
!.xinitrc
!.Xmodmap

!.xmonad/
!.xmonad/xmonad.hs
#-------------------------------------------------------------------------------
!.local/
!.local/share/
!.local/share/konsole/
!.local/share/konsole/*.colorscheme
!.local/share/konsole/philippe.profile

!.config/nvim/
!.config/nvim/init.vim

!.doom.d/
!.doom.d/*

!.config/zathura/
!.config/zathura/zathurarc
#-------------------------------------------------------------------------------
!README.md
!.notes/
!.notes/*
#-------------------------------------------------------------------------------
!.scripts/
!.scripts/*
#-------------------------------------------------------------------------------
!.config/coc/
!.config/coc/ultisnips/
!.config/coc/ultisnips/*
#-------------------------------------------------------------------------------
