#-------------------------------------------------------------------------------
*
#-------------------------------------------------------------------------------
!.gitconfig
!.gitignore
!.bashrc
!.config/

!.config/nvim/
!.config/nvim/init.vim
#-------------------------------------------------------------------------------
!.xinitrc
!.Xmodmap

!.xmonad/
!.xmonad/xmonad.hs

!.doom.d/
!.doom.d/*
#-------------------------------------------------------------------------------
!README.md
!.notes/
!.notes/*
#-------------------------------------------------------------------------------
!.scripts/
!.scripts/*
#-------------------------------------------------------------------------------
!.config/coc/
!.config/coc/ultisnips/
!.config/coc/ultisnips/*
#-------------------------------------------------------------------------------
