#------------------------------------------------------------------------------
[user]
  name         = Philippe Fanaro
  email        = philippefanaro@gmail.com
#------------------------------------------------------------------------------
[core]
  editor       = nvim
  autocrlf     = input
#------------------------------------------------------------------------------
[alias]
  # Committing
  c            = commit
  coa          = !git add -A && git commit -m
  lca          = !git add -A && git commit
  # Status
  st           = status --short
  lq           = log --oneline -n
  lq5          = log --oneline -n 5
  ls           = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll           = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ld           = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  lds          = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  # Pushing and Pulling
  pom          = push origin master
  pfm          = push fork master
  puom         = pull origin master
  rm-submodule = rm --cached
#------------------------------------------------------------------------------
[gc]
  reflogExpire = never
#------------------------------------------------------------------------------
[color]
  ui           = true
#------------------------------------------------------------------------------
[filter "lfs"]
  clean        = git-lfs clean -- %f
  smudge       = git-lfs smudge -- %f
  process      = git-lfs filter-process
  required     = true
#------------------------------------------------------------------------------
[pull]
  rebase       = false
#------------------------------------------------------------------------------
