#-------------------------------------------------------------------------------
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#-------------------------------------------------------------------------------
snippet comment_ln "Comment Line with Dashes" b
/*----------------------------------------------------------------------------*/
endsnippet
#-------------------------------------------------------------------------------
# fanaro.io

snippet fanaro_component "A typcical component for fanaro.io" b
export default class $1 extends HTMLElement {
	static readonly tag: string = "$2";

	private static readonly template: string = \`
	$3
	\`;

	constructor() {
		super();
	}

	connectedCallback() {
		this.innerHTML = Bitcoin.template;
		$4
	}
}
endsnippet
#-------------------------------------------------------------------------------
